:root{
    --dark: #b4b4b4;
    --white: #edf2fb;
    --open: "Open Sans", sans-serif;
}

*{
    font-size: 16px;
}

body{
    background: var(--dark);
    margin: 0;
    font-family: var(--open);
    color: var(--white);
}

section {
    width: 300px;
    display: block;
    align-items:center;
    margin-top: 25px;
    border: 2px solid turquoise;
    border-radius: 25px;
    padding: 15px;
}

h2 {
    color: red;
}

form {
    margin-left: 15px;
}